@model List<BTLCongNgheWeb_Version2.Models.ViewProduct>
@using BTLCongNgheWeb_Version2.Models;

<div class="index-banner">
    <div class="wmuSlider example1" style="height: 560px;">
        <div class="wmuSliderWrapper">
            @*<article style="position: relative; width: 100%; opacity: 1;">
                    <div class="banner-wrap">
                        <div class="slider-left">
                            <img src="images/banner1.jpg" alt="" />
                        </div>
                        <div class="slider-right">
                            <h1>Classic</h1>
                            <h2>White</h2>
                            <p>Lorem ipsum dolor sit amet</p>
                            <div class="btn"><a href="shop.html">Shop Now</a></div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </article>*@
            @foreach (ViewProduct j in @ViewBag.ViewNewsProduct)
            {
                <article style="position: absolute; width: 100%; opacity: 0;">
                    <div class="banner-wrap">
                        <div class="slider-left">
                            <img src="@j.UrlImage" />
                        </div>
                        <div class="slider-right">
                            <h1>Classic</h1>
                            <h2>@j.Color</h2>
                            <p>Lorem ipsum dolor sit amet</p>
                            <div class="btn"><a href="@Url.Action("Detail", "HomePage", new { id = j.ID})">Shop Now</a></div>
                        </div>
                        <div class="clear"></div>
                    </div>
                </article>
            }
        </div>
        <a class="wmuSliderPrev">Previous</a><a class="wmuSliderNext">Next</a>
        <ul class="wmuSliderPagination">
            <li><a href="#" class="">0</a></li>
            <li><a href="#" class="">1</a></li>
            <li><a href="#" class="wmuActive">2</a></li>
            <li><a href="#">3</a></li>
        </ul>
        <a class="wmuSliderPrev">Previous</a><a class="wmuSliderNext">Next</a><ul class="wmuSliderPagination"><li><a href="#" class="wmuActive">0</a></li><li><a href="#" class="">1</a></li><li><a href="#" class="">2</a></li><li><a href="#" class="">3</a></li></ul>
    </div>

    <script src="~/Scripts/js/jquery.wmuSlider.js"></script>
    <script type="text/javascript" src="~/HomePage/js/modernizr.custom.min.js"></script>
    <script>
        $('.example1').wmuSlider();
    </script>
</div>

