
@{
    ViewBag.Title = "Error";
    Layout = "~/Areas/Admin/Views/Shared/_Admin.cshtml";
}
@section Link {
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="#">Quản trị</a>
        </li>
        <li class="active">Lỗi truy cập</li>
    </ul>
}
<div class="alert alert-danger">
    Bạn không thể sử dụng chức năng này. Vui lòng liên hệ với Quản trị viên để có thể sử dụng
</div>

