@model BTLCongNgheWeb_Version2.Models.ShopingCart
@{
    ViewBag.Title = "test";
    Layout = "~/Views/Shared/_HomePage.cshtml";
}
<h2>@ViewBag.x</h2>
<h2>@ViewBag.nhon</h2>
<h2>@Model.TenKhachHang</h2>
<h2>@Model.NgayHoanThanh</h2>


